.btn.choice-Model,
.btn.more-pictures-button {
  background: linear-gradient(to right, #aa910a, #c49b31);
  border-radius: 50px;
  color: white;
  border-color: $colors-golden;
  box-shadow: none;
}

.btn.more-pictures-button {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

.gold-button {
  background: linear-gradient(to right, #aa910a, #c49b31);
  border-radius: 15px !important;
  color: white;
  border-color: $colors-golden;
  box-shadow: none;
  &:hover {
    background: linear-gradient(to right, #c49b31, #aa910a);
    color: white;
  }
}
a.btn.btn-lg.gold-button {
  width: 100%;
  margin-top: 10px;
}
.slick-prev:before,
.slick-next:before {
  content: "\e910";
  font-size: 24px;
  speak: none;
  display: inline-block;
  font-family: shoptet;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 0;
  text-decoration: none;
  text-transform: none;
  color: var(--color-primary);
}
.slick-prev:before {
  transform: rotate(180deg);
}
