.banner-wrap {
  background: #e0e4e9;
  padding: 10px;
  margin-top: 20px;
  .h3 {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  p {
    text-align: center;
  }
  .timer-wrap {
    text-align: center;
    span {
      margin-right: 10px;
    }
    span.countdown {
      color: #aa8d58;
      font-size: 18px;
    }
  }
  a.btn {
    display: block;
    width: fit-content;
    margin: 10px auto 20px;
    &:hover {
      background-color: #aa8d58;
      color: #e0e4e9;
    }
  }
  .description {
    text-align: center;
    font-size: 11px;
  }
}
.alert.alert-warning {
  color: red;
}
.desktop.id--9 {
  .col-md-8 {
    width: 100%;
  }
  .col-md-4.sidebar-in-cart {
    display: none;
  }
  .box.box-sm.box-bg-default {
    width: 400px;
  }
  .cart-content.summary-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
td.p-availability.p-cell {
  display: none;
}
.ordering-process {
  a.toggle-window {
    display: none;
  }
}

span.p-label {
  display: none;
}

.p-total strong[data-testid="cartPrice"] {
  display: none;
}
.btn.btn-default,
.btn.btn-default:hover,
a.btn.btn-default,
a.btn.btn-default:hover {
  border-color: var(--color-primary);
}
.btn.btn-default,
a.btn.btn-default {
  background-color: var(--color-primary);
}
.ordering-process {
  span.quantity {
    display: block;
  }
}
input#varchar1 {
  display: none;
}
input#varchar2 {
  display: none;
}
@media (max-width: 768px) {
  .cart-table tr > td:nth-child(odd) {
    text-align: right;
    width: 200px;
  }
}
