footer#footer {
  background: rgba(26, 26, 26, 1);
  h4,
  a,
  li {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }
  h4 {
    text-decoration: underline;
  }

  a.facebook,
  a.instagram {
    font-size: 0;
  }
  a.facebook::before {
    content: "\e937";
    font-size: 30px;
    margin-right: 20px;
    vertical-align: middle;
    speak: none;
    display: inline-block;
    font-family: shoptet;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    height: 30px;
    width: 30px;
  }
  a.instagram::before {
    content: "\e909";
    font-size: 30px;
    margin-right: 20px;
    vertical-align: middle;
    speak: none;
    display: inline-block;
    font-family: shoptet;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    height: 30px;
    width: 30px;
  }
  .soc-wrap {
    margin-top: 30px;
  }
}
#footer > .container {
  background: rgba(26, 26, 26, 1);
}
.custom-footer__banner1 {
  display: none;
}
@media (min-width: 1200px) {
  .footer-rows .site-name {
    display: block;
    left: 20px;
    max-width: 200px;
    position: absolute;
    top: 96px;
  }
  .footer-rows .site-name a img {
    max-height: 200px;
  }
}
.custom-footer__banner4 {
  display: none;
}
.content-wrapper.latest-contribution-box {
  display: none;
}
@media (min-width: 900px) {
  .custom-footer > div {
    flex: 0 0 auto;
    width: 33%;
  }
}

@media (max-width: 768px) {
  #footer {
    position: relative;
    .site-name {
      top: 50px;
    }
  }
  #footer .site-name {
    display: block;
  }
  .custom-footer.elements-4 {
    margin-top: 200px;
    border-top: none;
  }
  #footer .banner-wrapper {
    text-align: center;
  }
}
