.google-reviews {
  display: flex;
  padding: 20px 0;
  margin-bottom: 20px !important;
  img.avatar {
    width: 40px;
    height: 40px;
  }
  .review-meta {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: left;
  }
  span.reviewer {
    font-size: 17px;
    font-weight: 600;
    color: black;
  }
  span.review-stars {
    color: #fcbf00;
  }
}
span.reviewer-info {
  display: none;
}
.review {
  padding: 20px;
  width: 33%;
}
.review-photo {
  width: calc(50% - 4px);
  background-size: cover;
  margin: 2px;
}
.review-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.review-body {
  margin-bottom: 20px;
}
.review-body {
  min-height: 96px;
}

.google-reviews .review-meta {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  text-align: left;
}
img.avatar {
  position: absolute;
}
.review-header {
  margin-bottom: 20px;
}
