/** 
 * @Author: SharkJohny
 * @Date: 2024-07-22 23:22:33 
 * @Desc:  Change Header
 */

// @media (min-width: 768px) {
//   .in-index #header .site-name a img {
//     position: absolute;
//     top: 100px;
//     max-height: 151px;
//     transition-property: top, max-height, height, width, max-width, transform;
//     transition-duration: 1s;
//     height: auto;
//     width: 190px !important;
//     max-width: 1000%;
//     transform: translateX(-50%);
//   }
//   .scrolled .in-index #header .site-name a img {
//     top: 8px;
//     left: 0px;
//     max-width: 49px;
//     height: auto;
//     transition-property: top, max-height, height, width, max-width, transform;
//     transition-duration: 1s;
//     transform: translateX(0%);
//   }
// }

a.top-nav-button.top-nav-button-login.primary.login.toggle-window {
  display: none;
}

.navigation-show {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 0;
  color: var(--color-primary);

  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/image/menu.svg);
    background-size: cover;
  }
}
a.btn.btn-icon.toggle-window.cart-count {
  font-size: 0;
  &:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 30px;
    background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/image/cart.svg);
    background-size: cover;
  }
}
.menu-helper.jkTop.visible,
nav#navigation {
  display: none;
}

#header .site-name a img {
  display: block;
  margin: 0 auto;
  max-height: 100px;
}
header#header {
  margin-bottom: 50px;
}
@media (min-width: 678px) {
  .menu-helper {
    top: 8px;
  }
  .top-navigation-menu {
    display: none !important;
  }
  #navigation {
    margin-top: 10px;
  }
  .top-navigation-contacts {
    display: none !important;
  }
  .top-navigation-menu {
    max-width: 40px;
  }
  .navigation-buttons {
    position: absolute;
    right: 0px;
    top: -39px;
  }
  header#header {
    z-index: 60;
    position: relative;
    background-color: white;
    .site-name {
      position: fixed;
      top: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(26, 26, 26, 1);
      border-radius: 0 0 10px 10px;
      padding: 0px 20px 10px;
    }
  }
  .in-index header#header {
    background-color: rgba(51, 51, 51, 0.5);
  }
  .header-top {
    height: 0;
    padding: 0;
  }
  ul.top-navigation-bar-menu-helper {
    transform: translateX(50%);
    li {
      min-width: 240px;
    }
  }
  .top-navigation-menu-visible .top-navigation-bar {
    z-index: 70;
  }
  .top-navigation-bar {
    z-index: 50;
    position: relative;
    background-color: white;
    height: 60px;
    border-bottom-color: transparent;
  }
  .top-navigation-bar {
    background-color: rgba(26, 26, 26, 1);
  }
  .content-wrapper.homepage-box.before-carousel {
    padding-top: 0;
    margin-top: -92px;
    margin-bottom: 0;
    padding-bottom: 0;
    .container {
      width: unset;
    }
  }

  .navigation-in {
    background-color: transparent;
    & > ul > li {
      border-color: transparent;
      & > a {
        background-color: transparent;
        color: var(--c-primary);
        b {
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
        }
      }
    }
  }
  .top-navigation-menu {
    background: transparent;
  }
  .top-navigation-menu {
    position: relative;
    top: 10px;
  }
  .top-navigation-menu-trigger {
    width: 66px;
    &:before {
      content: "\e914";
      color: var(--c-primary);
      font-size: 19px;
      position: relative;
      right: -14px;
    }
    &::after {
      content: "Více";
      padding: 2px 0 0 10px;
      color: var(--c-primary);
      left: 5px;
      position: relative;
      top: 1px;
    }
  }
  a.top-nav-button.top-nav-button-login.primary.login {
    top: 13px;
    font-size: 16px;
    padding-right: 20px;
    position: relative;
    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/user.svg);
      background-size: contain;
      right: -5px;
    }
  }
  .top-navigation-bar .dropdown button,
  .top-navigation-bar a {
    color: var(--color-primary);
  }
  .navigation-buttons > a[data-target="cart"] i {
    border-radius: 100%;
    bottom: auto;
    display: block;
    font-size: 11px;
    font-style: normal;
    height: 17px;
    left: unset;
    color: #fff !important;
    line-height: 11px;
    padding: 3px;
    position: absolute;
    right: -22px;
    top: 0;
    width: 17px;
    z-index: 10;
    position: absolute;
  }
  .btn.cart-count:before,
  a.btn.cart-count:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/cart.svg);
    background-size: contain;
    right: -50px;
    top: 2px;
  }
  .user-action-cart.popup-widget.cart-widget.loader-wrapper {
    top: 39px;
    left: 42%;
    z-index: 600;
  }
  .navigation-buttons {
    a.toggle-window[data-target="search"] {
      background: transparent;
      display: block;
      position: relative;
      width: 20px;
      height: 20px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/searsh.svg);
        background-size: contain;
        right: 20px;
        top: 0px;
      }
    }
  }
  .navigation-wrapper .search {
    display: none !important;
  }
  .search-window-visible {
    .navigation-wrapper .search {
      display: block !important;
      z-index: 50;
      top: -42px;
      position: absolute;
      left: 50%;
      min-width: 400px !important;
      transform: translateX(-50%);
    }
    input.query-input.form-control.search-input.js-search-input {
      border-color: var(--c-primary);
      border-radius: 50px;
    }
    button.btn.btn-default {
      background: var(--c-primary);
      border-color: var(--c-primary);
      border-radius: 0 20px 20px 0;
    }
  }
  .navigation-in > ul > li.exp > a,
  .navigation-in > ul > li > a:hover {
    background-color: var(--c-primary);
    color: white;
  }

  .scrolled {
    .top-navigation-bar {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      background-color: rgba(26, 26, 26, 1);
    }
    // @media (min-width: 768px) {
    //   .cart-count {
    //     top: 0px !important;
    //   }
    // }
    header#header {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
    }

    .navigation-show {
      display: block;
    }
  }
  #header .cart-count {
    display: inline-block;
    left: unset;
    position: fixed;
    right: unset;
    top: 0px;
  }
  a.contact-link {
    display: block !important;
    font-size: 20px;
    position: relative;
    right: 33px;
    bottom: 10px;
    &:before {
      display: none;
    }
  }
  // .scrolled{
  //   a.contact-link {

  //     bottom: 0px;
  // }
}
div#menu-widget {
  display: none;
}
.showNav {
  header#header {
    background-color: rgb(255 255 255);
  }
  .menu-helper.jkTop.visible,
  div#menu-widget {
    display: block !important;
  }
}

.navigation-window-visible {
  div#menu-widget {
    display: block !important;
  }
}

.container.breadcrumbs-wrapper {
  display: none;
}
span.p-code {
  display: none;
}
@media (max-width: 768px) {
  .navigation-buttons {
    a.toggle-window[data-target="search"] {
      background: transparent;
      display: block;
      position: relative;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -5000px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url(https://www.nasesojka.czhttps://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/img/search.svg);
        background-size: contain;
        right: 20px;
        top: 0px;
      }
    }
  }
  .scrolled-down body:not(.ordering-process):not(.search-window-visible) #header .cart-count,
  .scrolled-down body:not(.ordering-process):not(.search-window-visible) #header .site-name,
  .scrolled-down body:not(.ordering-process):not(.search-window-visible) .top-navigation-bar {
    transform: none;
  }
}
a.contact-link {
  text-transform: uppercase;
}

.kfmkAH {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  padding: 0px 0px 4px;
  gap: 32px;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(246 246 246);
}
.fYYhKJ {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 12px;
  grid-template-columns: 1fr max-content;
}
.fZBTme,
.fZBTme * {
  box-sizing: border-box !important;
  outline: none !important;
}
.iTpmcQ {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  gap: 6px;
}
.fYYhKJ > :first-child {
  grid-row: 1 / 3;
}
.fZBTme,
.fZBTme * {
  box-sizing: border-box !important;
  outline: none !important;
}
.iCNeqx {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: rgb(17, 17, 17);
  word-break: normal !important;
}
.fZBTme,
.fZBTme * {
  box-sizing: border-box !important;
  outline: none !important;
}
.nUbNv path {
  fill: rgb(252, 191, 2) !important;
}
.fHHaSD path {
  fill: rgb(252, 191, 2) !important;
}
.bXVxrw {
  position: absolute;
  inset: 0px;
  margin: auto;
  line-height: 0;
}
.eyLxdR {
  display: inline-flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
}
.bBmSuk {
  position: relative;
  width: 18px;
  height: 18px;
}
.AGaFi {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgb(17, 17, 17);
}
.euBiGU {
  position: relative;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 0px;
  line-height: 1.32;
  cursor: pointer;
  box-sizing: border-box;
  background: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-style: solid;
}
span.ButtonBase__Ellipsis-sc-p43e7i-5.dqiKFy {
  padding: 8px 21px;
  border-radius: calc(22px);
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

button.ButtonBase__ButtonContainer-sc-p43e7i-3.euBiGU {
  padding: 8px 21px;
  border-radius: calc(22px);
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1200px) {
  .btn.cart-count:before,
  a.btn.cart-count:before {
    top: -8px;
  }
}

@media (max-width: 768px) {
  #header .site-name a img {
    max-height: 60px;
  }
  .navigation-show {
    display: none;
  }
  a.toggle-window[data-target="search"] {
    display: none;
  }
  a.toggle-window[data-target="navigation"] {
    position: absolute;
    left: 0;
  }
  .site-name {
    position: absolute;
    left: 50% !important;
    transform: translatex(-50%) !important;
  }
  .responsive-tools {
    height: 50px;
  }
  .overall-wrapper {
    background-color: rgba(26, 26, 26, 1);
  }
  .responsive-tools {
    background: rgba(26, 26, 26, 1);
  }
  .responsive-tools > a[data-target="navigation"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.myshoptet.com/usr/www.luxurycardesign.sk/user/documents/upload/assets/image/menu.svg);
    background-size: cover;
    border-radius: 0;
    top: 9px;
    left: 17px;
    background-color: transparent !important;
  }
  a.btn.btn-icon.toggle-window.cart-count:before {
    content: "";

    width: 20px;
    height: 22px;

    top: 2px;
    right: -50px;
  }
  .scrollable-with-controls {
    padding: 10px;
  }

  #header,
  .top-navigation-bar {
    background-color: rgba(26, 26, 26, 1);
  }
  #header .site-name a img {
    max-height: 47px;
  }
  .overall-wrapper {
    padding-top: 50px;
  }
  .options-wrap .button.option-button {
    margin: 3px;
  }
}
.top-navigation-bar {
  border-top-color: #1a1a1a;
}
.navigation-buttons a.toggle-window[data-target="search"] {
  display: none;
}
a.contact-link {
  margin-right: 22px;
}
@media (min-width: 768px) {
  .ordering-process {
    #header .site-name a img {
      display: block;
      margin: 0 auto;
      max-height: 49px;
    }
  }
  .container {
    position: relative;
  }
  .user-action-cart.popup-widget.cart-widget.loader-wrapper {
    top: 39px;
    left: unset;
    z-index: 600;
    right: -45px;
    border-radius: 20px;
    overflow: hidden;
  }
  .cart-free-shipping strong {
    color: #3c840f;
  }
  .fitted .navigation-in ul {
    justify-content: center !important;
  }

  .scrolled .in-index #header .cart-count {
    top: 12px;
  }
  .in-index #header .cart-count {
    top: 12px;
  }
  #header .cart-count {
    top: 12px;
  }
  .top-navigation-bar .container {
    position: relative;
  }
  // .scrolled-down {
  //   #header .cart-count {
  //     top: 20px;
  //   }
  // }
}

@media (min-width: 992px) {
  .popup-widget.login-widget {
    top: 21px;
    z-index: 200;
  }
  div#js-plugin-header {
    display: none;
  }
}

.plugin-fixed-header {
  position: fixed;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: 0.15s;
  transform: translateZ(0);
  box-shadow: 0 0 5px #b4b4b4;
  border-bottom: 1px solid #aaa;
  button.btn.btn-lg.btn-conversion.add-to-cart-button {
    bottom: 0px;
  }
}

@media (min-width: 469px) {
  .plugin-fixed-header {
    top: -200px;
  }
  .top-navigation-tools a.top-nav-button.top-nav-button-login.primary.login.toggle-window {
    display: none;
  }
}

@media (max-width: 468px) {
  .plugin-fixed-header {
    bottom: -200px;
  }
}

@media (min-width: 469px) {
  .plugin-fixed-header.active {
    top: 0;
  }
}

@media (max-width: 468px) {
  .plugin-fixed-header.active {
    bottom: 0;
  }
}

.fixed-header-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 468px) {
  .fixed-header-container {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.plugin-fixed-header__name {
  width: calc(100% - 480px);
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 468px) {
  .plugin-fixed-header__name {
    display: none;
  }
}

.plugin-fixed-header__image {
  width: 80px;
  height: 50px;
}

@media (max-width: 468px) {
  .plugin-fixed-header__image {
    display: none;
  }
}

.plugin-fixed-header__availability {
  font-size: 15px;
  padding-left: 20px;
  font-weight: 400;
  color: #454545;
}

@media (max-width: 468px) {
  .plugin-fixed-header__availability {
    display: none;
  }
}

.plugin-fixed-header__img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

@media (max-width: 468px) {
  .plugin-fixed-header__img {
    display: none;
  }
}

.plugin-fixed-header__price {
  width: 200px;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 468px) {
  .plugin-fixed-header__price {
    display: none;
  }
}

.plugin-fixed-header__basket {
  width: 200px;
  text-align: right;
  padding-left: 20px;
}

@media (max-width: 468px) {
  .plugin-fixed-header__basket {
    width: 100%;
    padding: 0 70px;
  }
}

.plugin-fixed-header__basket > button {
  width: 100% !important;
}

.product.active.productVisible {
  width: 25%;
}

@media (max-width: 468px) {
  .plugin-fixed-header__basket > button {
    display: block !important;
    padding: 6px 10px !important;
  }
}

@media (min-width: 992px) {
  .popup-widget.cart-widget {
    top: 144px;
  }
}

@media (min-width: 768px) {
  .top-navigation-bar .container > div {
    display: block;
    flex: 1 1 80%;
    text-align: center;
  }
}
