:root {
  --gradient: linear-gradient(45deg, rgba(128, 130, 133, 1) 31%, rgba(208, 140, 60, 1) 100%);
}
.in-index {
  section#model-info {
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
  }
  section#section5 {
    margin-bottom: 0;
  }
  .section.section-full.bg-custom.full-width {
    background: #ededed;
  }
}

.homepage-box {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
}

.model-selector.container h2 {
  font-size: 24px !important;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, #aa910a, #c49b31);
  background-clip: text;
  box-decoration-break: clone;
}

div#videoWrapper {
  position: relative;
  top: -110px;
}

.btn.choice-Model {
  height: 36px;
}

section#model-selector {
  padding-top: 20px;
  padding-bottom: 40px;
  // background: #f6f6f6;
  .prefix {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: -10px;
  }
}

.content-wrapper.homepage-box.before-carousel {
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    video {
      width: 100%;
      bottom: 200px;
      position: relative;
    }
  }
}

div#addvideo {
  max-height: 440px;
}

a.ti-header.source-Google {
  display: flex;
  background: white;
  width: fit-content;
  padding: 15px 20px 10px;
  border-radius: 5px;
  margin: 20px auto;
  .ti-small-logo {
    margin-right: 10px;
    img {
      height: 25px;
    }
  }
  .ti-mob-row {
    padding-top: 4px;
  }
}

.review-stars {
  margin-right: 10px;
  padding-top: 5px;
}

.review-stars ul li i {
  color: #f6ba05;
  font-size: 1em;
  font-style: normal;
}

.ti-dropdown-widget {
  opacity: 1;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  position: absolute;
  top: initial;
  bottom: initial;
  background: none;
  text-align: left !important;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
}

.ti-dropdown-widget-inner {
  height: 100%;
  padding: 40px 0px 20px 20px;
  overflow: visible;
  background-color: #ffffff !important;
  position: relative;
  max-width: 700px;
  margin: auto;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
}

.ti-reviews-container-wrapper {
  overflow: auto;
  display: inherit;
  margin: 0px !important;
  margin-top: 0px !important;
  padding-right: 20px;
}

.ti-widget-container {
  margin-bottom: 0px;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.4em;
  overflow-y: scroll;
}

.ti-close-lg {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  right: 6px;
  top: 6px;
  border-radius: 50px;
  display: block;
  cursor: pointer;
  pointer-events: visible !important;
  color: #333;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 3px;
    top: 13px;
    left: 7px;
    background-color: #555;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

span.images-scrolling__counter.bold {
  font-size: 30px;
  color: black;
  font-weight: 600;
  padding-left: 55px;
  position: relative;
  &::before {
    content: "";
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 18px;
    left: 0;
  }
}

.images-scrolling__content {
  p.h1 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 70%;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
    width: 70%;
    color: black;
  }
}

.text-gradient {
  // background-image: var(--gradient);
  color: var(--color-primary);
  // -webkit-box-decoration-break: clone;
  // box-decoration-break: clone;
  // -webkit-background-clip: text;
  // background-clip: text;
}
span.shape-diamond.shape--lg.place-self-center {
  visibility: hidden;
}
@media (min-width: 768px) {
  .modl-selector-wrap {
    display: flex;
    justify-content: center;
    .surcharge-list {
      margin-right: 20px;
    }
  }
}

.bg-custom {
  background: #f2f2f2;
}

.impact-text {
  gap: minmax(0, 1fr) auto;
  align-items: start;
  display: grid;
}

.impact-text--center {
  text-align: center;
  justify-content: safe center;
}

@media screen and (min-width: 700px) {
  .impact-text--center {
    justify-content: space-evenly;
  }
}

.shape-circle,
.shape-square,
.shape-diamond {
  width: 1rem;
  height: 1rem;
  background: #808285;
  display: block;
}

.place-self-center {
  place-self: center;
}

.shape-diamond {
  transform: rotateZ(45deg);
}

.snap-center {
  h2.impact-text__text.heading.break-all {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .prose {
    color: #808285;
    h3 {
      font-size: 20px;
    }
    p {
      max-width: 229px;
      text-transform: uppercase;
      color: black;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.section-stack {
  margin-top: 50px;
  h2.h2 {
    font-size: 30px;
    text-transform: uppercase;
  }

  .collection-card__content-wrapper.text-custom.place-self-center.text-center {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%);
    // color: white;
    p.h2 {
      color: white;
    }
    svg.icon.icon-circle-button-right-clipped {
      display: none;
    }
    &:hover {
      svg.icon.icon-circle-button-right-clipped {
        display: inline;
      }
    }
  }
  // .slick-prev:before,
  // .slick-next:before {
  //   font-family: "slick";
  //   font-size: 20px;
  //   line-height: 1;
  //   color: gray;
  //   opacity: 0.75;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  // }
}

.add-comment,
.discussion,
.discussion-form,
.rate-wrapper,
.votes-wrap,
.welcome div,
.welcome h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: unset;
}

.image-header img {
  display: block;
  margin: auto;
}
.image-container {
  margin-top: 50px;
}

#goggle-review-wrap {
  background-color: #f6f6f6 !important;
  position: relative;
  top: 0;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translateX(-50%);
  padding: 40px;

  .header-rewiew {
    padding: 20px 0;
    h3 {
      color: #3d182c;
      letter-spacing: -1.2px;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      &::before {
        content: "";
        width: 20px;
        height: 3px;
        background: #f6ba05;
        left: -20px;
        top: -6px;
        display: inline-block;
        position: relative;
      }
    }
  }
  #google-reviews {
    min-width: 75%;
    ul li::before {
      display: none !important;
    }
    .slick-active .review-item,
    .slick-active .review-item-long {
      box-shadow: 1px 1px 5px #ddd;
    }
    .review-item,
    .review-item-long {
      flex: 1 1 calc(25% - 20px);
      margin: 0 10px;
      background: #fff;
      border: #fff;
      border-radius: 10px;
      position: relative;
      min-height: 275px;
      svg {
        position: absolute;
        right: 7px;
        top: 9px;
      }
    }
    .review-item {
      flex: 1 1 25%;
    }
    img.review-picture {
      width: 50px;
    }
    p.review-text {
      font-size: 15px;
      text-align: left;
      padding-top: 20px;
      max-height: 177px;
      overflow: scroll;
      margin-bottom: 0;
      padding-right: 10px !important;
      &::-webkit-scrollbar {
        width: 4px !important;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px !important;
        border-radius: 10px !important;
        background: #ccc !important;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
      }
    }
  }
  .review-row {
    display: flex;
  }
  .grw-slider-header {
    width: 25%;
  }
  .grw-slider-header-inner {
    position: relative !important;
    margin: 0 10px !important;
    padding: 15px !important;
    width: 100% !important;
    .wp-google-place {
      display: flex;
    }
    .wp-google-right {
      padding-left: 10px;
      line-height: 1.3;
    }
    .wp-google-rating {
      color: #e7711b !important;
      font-size: 20px !important;
      font-weight: 600 !important;
      margin: 0 6px 0 0 !important;
      vertical-align: middle !important;
    }
    .wp-star svg {
      width: 20px !important;
      height: 20px !important;
      vertical-align: middle !important;
      path {
        fill: #f6ba05 !important;
      }
    }
    .wp-google-wr a {
      border-color: $colors-golden !important;
      border: 2px solid $colors-golden !important;
      border-radius: 5em !important;
      padding: 0.7em !important;
      padding-left: 1.3em !important;
      padding-right: 1.3em !important;
      background-color: rgba(0, 0, 0, 0);
      margin: 0.7em !important;
      font-weight: bold !important;
      font-stretch: normal !important;
      font-style: normal !important;
      line-height: normal !important;
      letter-spacing: normal !important;
      text-align: center !important;
      color: black !important;
      text-shadow: none !important;
      box-shadow: none !important;
      position: relative;
      top: 30px;
      left: -19px;
      &:hover {
        background-color: $colors-golden;
      }
    }
  }
  .slick-slide {
    padding: 10px;
  }
}

.bg-custom {
  background: transparent;
}

// .section-stack__main {
//   background: #f2f2f2;
// }

.feature-chart__table-row {
  --feature-chart-heading-width: 140px;
  grid-template-columns: 140px repeat(2, minmax(140px, 1fr));
  gap: 0.25rem 1.25rem;
  min-width: min-content;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: flex;
}

.feature-chart__heading.bold {
  text-align: left !important;
  font-weight: 600;
  flex-basis: 70%;
}

.feature-chart__table.feature-chart__table--multi-columns.divide-y.scroll-area {
  padding: 20px;
}

.feature-chart__value.prose.text-subdued {
  flex-basis: 50%;
  margin: 0 58px;
}

.image-header {
  display: grid;
}

.feature-chart__table-row {
  border-bottom: 1px solid #e0e4e9;
}

.feature-chart__table-row[hidden] {
  display: none;
}

span.bold.fixT.skiptranslate.notranslate {
  font-weight: 600;
  margin-top: 29px;
}

.surcharge-list.years.dm-selector,
.surcharge-list.models.dm-selector,
.surcharge-list.brands.dm-selector,
.surcharge-list.type-selector {
  select {
    border-color: $colors-golden;

    border-radius: 50px;
  }
}

.feature-chart__toggle {
  text-align: center;
  padding-bottom: 20px;
}

.more-pictures {
  max-height: 0;
  overflow-x: hidden;
  transition: all 0.5s ease-out;
}

.welcome h1 {
  display: none;
}

.image-container {
  max-width: 1000px !important;
  display: block !important;
}

.more-pictures.slow {
  overflow: visible;
}

section#model-selector {
  margin-left: -10px;
  margin-right: -10px;
}

.more-pictures.slow {
  max-height: 3000px;
  transition: all 0.1s ease-out;
}

.customers-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  .customer-video {
    width: calc(30% - 10px);
    padding: 5px;
    position: relative;
    @media (max-width: 768px) {
      width: calc(50% - 10px);
    }
    .text {
      margin-top: 20px;
    }
  }
}

video::-webkit-media-controls-panel,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-displa,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video.active {
  &::-webkit-media-controls-timeline-container {
    display: block;
  }
}

.customer-video {
  video {
    margin: auto;
  }
}
.container-slider {
  .right-column {
    display: none;
  }
  .left-column {
    width: 100%;
    padding: 20px 0;
    padding-top: 30px;
  }
}
.playpause {
  max-width: 100px;
  background-image: url(https://689946.myshoptet.com/user/documents/upload/assets/image/playButton.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  span {
    position: absolute;
    bottom: -30px;
    width: 100px;
    color: #c49b30;
  }
}
section.foto-slider.slick-initialized.slick-slider.slick-dotted {
  margin-top: 50px;
}
.hotspot {
  h4 {
    color: white;
  }
}
.overall-wrapper #goggle-review-wrap {
  a.hide {
    display: none !important;
  }
}
section#section7,
section#section5,
section#section3,
section#section1 {
  background-color: rgba(237, 237, 237, 1);
  padding: 50px;
  .images-scrolling__content {
    text-align: right;
  }

  span.images-scrolling__counter.bold::before {
    top: 18px;
    left: unset;
    right: 0;
  }
  span.images-scrolling__counter.bold {
    padding-right: 55px;
  }
  .images-scrolling__content {
    p.h1 {
      margin-right: 0;
      display: block;
      margin-left: auto;
    }
    p {
      margin-right: 0;
      display: block;
      margin-left: auto;
    }
  }
}
.mobile-image {
  flex: 1 0 35%;
}
.images-scrolling__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-chart__value.prose.text-subdued.center {
  background: #d6d6d645;
  padding: 10px 20px;
}
.feature-chart__value.prose.text-subdued.center.top {
  background: #d6d6d645;
  border-radius: 25px 25px 0 0;
}
.feature-chart__table-row,
.feature-chart__table-row.header {
  padding: 0;
}
.feature-chart__heading.bold {
  padding: 10px 0;
}
.feature-chart__value.prose.text-subdued {
  padding: 10px 0;
}
.more-pictures {
  display: flex;
  justify-content: space-between;
  .image-container {
    width: 49%;
    margin: 0;
  }
}
@media screen and (min-width: 700px) {
  section#section6,
  section#section4,
  section#section2,
  section#section8 {
    // padding-left: 50px;
    // padding-right: 50px;
    .mobile-image {
      order: 2;
    }
    .container {
      padding: 0px !important;
    }
  }

  .text-block {
    display: flex;
  }

  .impact-text {
    --impact-text-spacing: 2rem;
    grid: auto / auto-flow minmax(0, 1fr) auto;
  }
}

@media (min-width: 768px) {
  // .mobile-image {
  //   display: none;
  // }
}

@media (max-width: 768px) {
  .row.banners-content.body-banners {
    display: flex;
    flex-direction: column;
    section#model-selector {
      order: 1;
    }
    section#goggle-review-wrap {
      order: 2;
      padding: 20px 5px !important;
    }
    .col-sm-12 {
      order: 3;
    }
  }
  .model-selector.container {
    margin-bottom: 20px;
  }
  .image-container {
    margin-bottom: 10px;
  }
  a.contact-link {
    display: none;
  }
  .info-wrap {
    margin-top: 20px;
  }
  .point-wrapper,
  .footer-banner section {
    // margin-left: -30px !important;
    // margin-right: -30px;
    padding: 20px 0px !important;
  }
  .footer-banner section#section5 .images-scrolling__content,
  .footer-banner section#section3 .images-scrolling__content,
  .footer-banner section#section1 .images-scrolling__content {
    text-align: left;
  }
  .footer-banner section#section5 span.images-scrolling__counter.bold::before,
  .footer-banner section#section3 span.images-scrolling__counter.bold::before,
  .footer-banner section#section1 span.images-scrolling__counter.bold::before {
    top: 18px;
    left: 0;
    right: unset;
  }
  .modl-selector-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    .surcharge-list select,
    .variant-list select {
      width: 100%;
    }
  }
  .section-stack .collection-card__content-wrapper.text-custom.place-self-center.text-center {
    top: 25%;
    position: static;
  }
  #videoWrapper video {
    height: 300px;

    margin-top: -50px;
  }
  .mobile-image {
    margin-bottom: 30px;
  }
  .right-column {
    display: none !important;
  }
  .left-column {
    width: 100% !important;
    padding-top: 20px !important;
  }
  section.text-block {
    height: auto !important;
  }
  .feature-chart__table--multi-columns .feature-chart__table-row {
    grid-template-columns: repeat(2, 160px);
  }
  .feature-chart__value {
    grid-row: 2;
  }
  .images-scrolling__content p.h1 {
    width: 100%;
  }
  .images-scrolling__content p {
    font-size: 20px;
    width: 100%;
    color: #000;
  }
  .slick-prev {
    left: -5px;
  }
  .slick-next {
    right: -5px;
  }
  .homepage-box.welcome-wrapper {
    padding: 0;
  }
  #goggle-review-wrap .review-row {
    display: flex;
    flex-direction: column;
  }
  #goggle-review-wrap .grw-slider-header {
    width: 100%;
  }
  #goggle-review-wrap .grw-slider-header {
    width: 100%;
    margin-bottom: 48px;
  }
  div#addvideo {
    max-height: 200px;
  }
  .modl-selector-wrap {
    text-align: center;
    & > div {
      margin-bottom: 10px;
    }
  }
  .section-stack__main {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }

  .feature-chart__table-row {
    position: relative;
  }
  .feature-chart__heading.bold {
    display: none;
  }
  .header .feature-chart__heading.bold {
    position: absolute;
    top: -100px;
    max-width: 300px;
    display: block;
  }
  .feature-chart__value.prose.text-subdued {
    margin: 0 8px;
  }
  section,
  section#models,
  .layers-info-wrap {
    padding: 0px !important;
    margin: 0px !important;
  }

  section#shopify-section-template--17290810851560__feature-chart {
    overflow: hidden;
  }
  // .content-wrapper.container .row {
  //   overflow: hidden;
  // }
  section#goggle-review-wrap {
    margin-top: 25px;
  }
  .section.section-blends.section-full {
    // .scrollable-with-controls {
    //   margin-left: -20px;
    //   margin-right: -20px;
    // }
    .section-stack .content-over-media.group.rounded-sm {
      // margin: 5px;
    }
  }
  .banner-header {
    font-size: 14px;
  }
  .banner-header p {
    font-size: 11px;
    margin-bottom: 0;
  }
  .homepage-box.welcome-wrapper {
    margin-top: -1px;
  }
  .content-wrapper-in {
    background: white;
    margin-bottom: -1px;
  }
  .feature-chart__table-row.header {
    padding-top: 200px;
  }
  .surcharge-list {
    width: calc(50% - 15px);
  }
  .btn.choice-Model {
    display: block;
    margin: auto;
  }
  #goggle-review-wrap {
    padding: 15px;
  }
  .HeaderContainer__Inner-sc-1532ffp-0.kfmkAH {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .iCNeqx {
    font-size: 32px;
  }
  .AGaFi {
    font-size: 17px;
  }
  button.ButtonBase__ButtonContainer-sc-p43e7i-3.euBiGU {
    padding: 2px 11px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0);
  }
  span.ButtonBase__Overlay-sc-p43e7i-4.jhGZeV {
    padding: unset !important;
  }
  span.ButtonBase__Ellipsis-sc-p43e7i-5.dqiKFy {
    padding: 8px 0px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
  }
  .text-block {
    margin-bottom: 0px !important;
  }
  section#section7,
  section#section5,
  section#section3,
  section#section1 {
    background-color: transparent;
    padding: 0px;
  }
  .gray-background {
    background: #ededed !important;
  }
  .footer-banners {
    margin-top: 0px;
  }
  .impact-text.impact-text--center.container {
    background: #ededed;
  }
  .snap-center .prose p {
    max-width: 240px !important;
  }
  .section.section-blends.section-full,
  section#models {
    padding: 20px 0px !important;
    .scrollable-with-controls {
      padding: 0px;
    }
    .banner-header {
      bottom: 10px;
      font-size: 13px;
      min-height: 50px;
      p {
        font-size: 11px;
      }
    }
  }
  .slick-next {
    right: -15px;
  }
  .slick-prev {
    left: -20px;
  }
  .slick-slide svg.icon.icon-circle-button-right-clipped {
    display: none !important;
  }

  .feature-chart__table.feature-chart__table--multi-columns.divide-y.scroll-area {
    padding: 20px 0;
  }
  .welcome .section.section-blends.section-full {
    padding: 0 20px !important;
  }
  .playpause {
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  div#menu-widget .picture {
    max-width: 150px !important;
    max-height: 94px;
  }
  div#menu-widget .picture .title {
    bottom: 5px !important;
  }

  .hotspot[style="top: 24%; left: 82%;"] {
    .tooltips {
      left: -53%;
    }
  }
  .snap-center h2.impact-text__text.heading.break-all {
    margin-top: 20px;
  }
  .section.section-full.bg-custom.full-width .snap-center {
    margin: auto;
    margin-bottom: 0px !important;
  }
  section.shopify-section.horiz-video.shopify-section--video.full-width {
    padding: 10px !important;
  }
  .hotspot:after {
    content: "+";
    font-size: 16px !important;
    color: #fff;
    position: relative;
    top: 1px;
    left: 6px !important;
  }
  .hotspot:before {
    width: 25px !important;
    height: 25px !important;
  }
  .hotspot {
    width: 20px !important;
    height: 20px !important;
  }
  .twentytwenty-wrapper.twentytwenty-horizontal {
    margin-bottom: 20px !important;
  }
  .slick-dots {
    bottom: -10px;
  }
  .gray-backgroun {
    background: #e91e63;
  }
}

.p-detail-inner-header h1,
.justify-self-center h3,
.section-info h3,
h2.divider,
.sec-header,
#comparison h2 {
  background-image: var(--gradient);
  color: var(--color-primary);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  font-size: 40px !important;
  text-transform: uppercase;
}
.justify-self-center h3 {
  text-align: center;
  font-size: 25px !important;
  margin-bottom: 40px;
}
.sec-prefix {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}
.banners-wrap {
  margin-top: 36px;
  .banner.gold-border {
    margin-bottom: 20px;
  }
}
.gold-border {
  position: relative;
  border: 2px solid;
  border-radius: 20px;
  border: 5px solid var(--color-primary);
  border-radius: 30px;
  min-height: unset;
  img {
    border: none !important;

    max-width: unset;
    width: 100%;
  }
  a {
    width: 100%;
  }
}
.banner-prefix {
  position: absolute;
  top: 20px;
  color: #fff;
  padding: 5px 20px;
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-size: 20px;
  left: 0;
}
.banner-header {
  background: #000000a1;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;

  min-height: 60px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding-top: 8px;
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .flex {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
}

.gray-backgroun {
  background: #f2f2f2;
  padding: 0px 0 20px;
  position: relative;
  top: 0;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translateX(-50%);
}
button.text-with-icon.group,
.btn.more-pictures-button,
section#models a.btn {
  background: var(--color-primary);
  color: white;
  border-radius: 50px;
  padding: 6px 30px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
}

@media (min-width: 768px) {
  .banners-wrap {
    display: flex;
    justify-content: space-between;
  }
  .banner.gold-border {
    width: calc(50% - 20px);
  }
  .info-wrap {
    display: flex;
    justify-content: space-between;
    .image-container {
      width: calc(50% - 20px);
      margin-top: 20px;
    }
  }
}
.image-slider {
  margin-top: 30px;

  .image {
    padding: 5px;
  }
}

/// comparison
section#comparison {
  padding-top: 40px;
  .flex {
    margin-bottom: 40px;
    & > div {
      width: 33%;
      padding: 20px;
    }
  }
  .center,
  .right {
    .top {
      padding: 20px;
      img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }
    }
    .row {
      padding: 0 20px;
    }
  }
  .center {
    box-shadow: #8e8e8e 1px 1px 26px;
    border-radius: 30px;
  }
  .top {
    border-bottom: 1px solid rgba(237, 237, 237, 1);

    height: 385px;
    p,
    span {
      font-size: 17px;
      padding-right: 40px;
    }
  }
  .row {
    border-bottom: 1px solid rgba(237, 237, 237, 1);
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .row.header {
    font-weight: 600;
  }
  h2 {
    margin-top: 0;
  }
  .row.more {
    display: none !important;
  }
  &.show-more {
    .row.more {
      display: flex !important;
    }
  }
  @media (max-width: 768px) {
    .flex > div {
      width: 50%;
    }
    .row.header {
      display: none !important;
    }
    .left {
      width: 100% !important;
      .top {
        border-bottom: none;
      }
    }
    .flex {
      flex-wrap: wrap;
    }
    .center,
    .right {
      padding: 10px !important;
      .top {
        padding: 0px;
        height: 240px;
        span {
          font-size: 14px;
        }
      }
    }
    .row.header.more {
      display: none !important;
    }
    .row {
      font-size: 14px;
      padding: 0 !important;
      height: 80px;
    }
    .center {
      border-radius: 15px;
    }
  }
}
.gray-background {
  background: #ededed;
}

section.full-width {
  width: 100vw;
}

/////// optimalizovaný kód pro homepage

h2.sec-header {
  margin-bottom: 0;
  line-height: 1.5;
}

.slick-slide > div {
  margin: 10px;
}
a.gold-border.collection-card.shadow {
  overflow: hidden;
}
.welcome {
  .more-pictures.slow {
    margin-top: 30px;
  }
}
/////
.layers-info-wrap {
  position: relative;
  img {
    border: none !important;
  }
  .image-container {
    margin-right: 0;
  }
  .layers-text {
    p {
      font-size: 17px;
      max-width: 500px;
      color: #000;
    }
    h2 {
      color: var(--color-primary);
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  @media (min-width: 700px) {
    .layers-text {
      position: absolute;
      bottom: 30px;
    }
  }
  @media (max-width: 768px) {
    .layers-text {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px 20px 0;
      p {
        font-size: 14px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-prefix {
    position: absolute;
    top: 20px;
    color: #fff;
    padding: 5px 7px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    font-size: 10px;
    left: 0;
  }
  .product-slider {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important;
  }
}
