body {
  display: none;
}
body.showBody {
  display: block;
}

.p-detail-inner-header {
  h1 {
    display: none;
  }
}

.id-1382 {
  .mobile-image img {
    border: none !important;
  }
}

a.button.option-button.active {
  pointer-events: none;
}

.base-config.parameter-cars {
  .button.option-button {
    background: gray;
  }
}

.col-xs-12.col-lg-6.p-info-wrapper:not(.active) {
  position: relative;
  height: 2000px;
  overflow: hidden;
  border-radius: 15px;
}

.col-xs-12.col-lg-6.p-info-wrapper:not(.active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
  background-size: 200% 100%;
  animation: loading-shimmer 1.5s infinite;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
.col-xs-12.col-lg-6.p-info-wrapper {
  h1 {
    display: block !important;
  }
}
.col-xs-12.col-lg-6.p-info-wrapper.active::before {
  opacity: 0;
}
@keyframes loading-shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.parameter-wrap.parameter-110 {
  .image-wrap {
    display: none !important;
  }
}

.p-detail-inner-header {
  order: 1;
}

.type-product {
  p[data-testid="productCardDescr"],
  .ti-dropdown-widget-inner:before,
  .p-detail-info,
  span.parameter-dependent.default-variant,
  .social-buttons-wrapper {
    display: none;
  }

  .model-selector.container {
    width: auto;
  }

  span.calculated-price {
    color: var(--color-primary);
  }
  .ti-dropdown-widget {
    top: 10%;
  }
  button.btn.btn-lg.btn-conversion.add-to-cart-button.upsale {
    position: absolute;
    right: 0;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;

    bottom: 43px;
  }
  span.flag.flag-discount {
    display: none;
  }
}

.col-xs-12.col-lg-6.p-info-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  section#model-selector {
    order: 3;
    padding: 20px;
    margin-bottom: 10px;
  }
  section#model-info {
    order: 3;
  }
  table.detail-parameters {
    order: 2;
  }
  .content-wrap {
    order: 3;
  }
  .upsale-text {
    order: 4;
  }
  .p-final-price-wrapper {
    order: 5;
    margin-bottom: 0;
  }
  .upsale-wrap {
    order: 5;
  }
  .availability-value {
    order: 6;
  }
  .add-to-cart {
    order: 7;
  }
  .NoteDiv {
    order: 8;
  }
  .p-short-description {
    order: 2;
    font-size: 20px;
  }
  p[data-testid="productCardDescr"] {
    order: 10;
  }
  .social-buttons-wrapper {
    order: 11;
  }
}
table.detail-parameters {
  display: none;
}
.model {
  font-size: 20px;
  margin-bottom: 20px;
}

.model-select {
  .h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.wheel-Position {
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before,
  input[type="checkbox"]:checked + label:after,
  input[type="radio"]:checked + label:after {
    display: none !important;
  }
}
.choice-model {
  margin-bottom: 20px;
}
.type-product {
  section#model-selector {
    padding-bottom: 20px;
    background: #f6f6f600;
  }
  .surcharge-list select,
  .variant-list select {
    width: 150px;
  }
  .modl-selector-wrap .surcharge-list {
    margin-right: 5px;
  }
}
.row.product-top {
  margin-top: 20px;
}
.p-detail-inner-header h1 {
  margin-top: 0;
  display: inline-block;
}
.p-detail-info {
  margin-bottom: 40px;
}
.parameter-wrap {
  background: #f6f6f6;

  position: relative;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  .order {
    background: rgba(196, 155, 49, 1);
    /* width: fit-content; */
    padding-left: 20px;
    padding-top: 13px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: white;
    font-family: "Exo 2";
  }
  .h4.variant.name {
    position: absolute;
    left: 75px;
    top: 15px;
    font-size: 20px;
    color: black;
  }
}

.base-config h5.variant.name {
  position: absolute;
  top: 16px;
  left: 50px;
  color: white;
  text-transform: uppercase;
}
.config-wrap {
  background: aliceblue;
  border-radius: 0 0 20px 20px;
}
.order {
  border-radius: 20px 20px 0 0;
}
.upsale-buttons.boxs {
  position: relative;
}
.option-wrap {
  display: flex;
}
.parameter-cars.sit-Position {
  display: flex;
}
.parameter-cars {
  .button.option-button {
    background-color: transparent;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    color: white;

    min-width: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;

    cursor: pointer;
    img {
      max-height: 35px;
    }
    img + .text {
      display: none;
    }
    &.active {
      background-color: rgba(196, 155, 49, 1);
      /* width: fit-content; */
    }
    span {
      padding: 5px 5px;
      line-height: 1;
      top: 2px;
      position: relative;
    }
  }
}

.box-config {
  .options-wrap {
    width: 79%;
  }
  .options-wrap .button.option-button .text {
    bottom: -18px;
  }
}
.options-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  .button.option-button {
    width: 12%;

    margin: 5px;
    position: relative;
    border: 5px solid transparent;
    img {
      overflow: hidden;
      border-radius: 50%;
    }
    cursor: pointer;
    @media (max-width: 768px) {
      width: 29%;
      height: auto;
    }
    .text {
      position: absolute;
      background: #333;
      color: white;
      bottom: 55px;
      text-align: center;
      font-size: 10px;
      display: none;
      width: 150px;
      z-index: 500;
      transform: translateX(-30%);
    }
    &:hover {
      .text {
        display: block;
      }
    }
    &.active {
      border-color: #c49b31;
      border-radius: 50%;
      &:before {
        content: "\e913";
        speak: none;
        display: inline-block;
        font-family: shoptet;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 0;
        text-decoration: none;
        text-transform: none;
        vertical-align: middle;
        font-size: 20px;
        position: absolute;
        width: 40px;
        height: 40px;
        background: transparent;
        color: #c49b30;
        border-radius: 50%;
        padding: 20px 10px;
        left: 22%;
        top: 22%;
        @media (max-width: 768px) {
          left: 6px;
          top: 5px;
        }
      }
    }
  }
  .button.option-button.lines.active {
    &:before {
      display: none;
    }
  }
}
span.quantity {
  display: none;
}
.btn.button-more {
  width: 100%;
  margin-bottom: 20px;
  background: #f6f6f6;
  color: black;
  border-color: white;
}

.pop-ower {
  display: none;
  background: rgba(0, 0, 0, 0.16);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
}

.pop-up-options {
  background: white;
  padding: 50px;
  width: 80%;
  margin: auto;
  top: 20%;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  color: black;
  transform: rotate(45deg);
  cursor: pointer;
}

.navidation-Wrap {
  display: flex;
  margin-bottom: 10px;
  .navigatte-button {
    background: #dde2e7;
    margin-left: 2px;
    padding: 2px 7px;
    &.active {
      background: antiquewhite;
    }
  }
}

.upsale-wrap {
  display: none;
  &.active {
    display: block;
  }
}
.upsale-Banner {
  display: flex;
  order: 4;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  h5.variant.name {
    position: absolute;
    top: 16px;
    left: 50px;
    color: #fff;
    text-transform: uppercase;
  }
  .upsale-buttons {
    display: flex;
    flex-direction: column;

    .parameter-cars {
      margin-top: 10px;
      display: flex;
      .banner-header {
        bottom: 0;
        font-size: 15px;
        min-height: 50px;
        .price {
          color: #c49b31;
        }
      }
    }
  }
  .upsale-button {
    overflow: hidden !important;
    position: relative;
    margin: 5px;
    cursor: pointer;
    width: calc(33% - 10px);

    border-radius: 25px;
    border: 5px solid transparent;

    .save,
    .price,
    .text {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      top: 30%;
      padding: 5px;
      color: white;
    }
    .price {
      top: 50%;
    }
    .save {
      top: -50px !important;
    }
  }
  &.showConf {
    overflow: unset;
    .box-config {
      right: 0;
      left: 0;
      transition: 1s;
      padding-bottom: 50px;
    }
    .upsale-buttons.position-wrap.parameter-cars.parameter-wrap.boxs {
      overflow: visible;
    }
  }
  .box-config {
    position: absolute;
    top: 0;
    left: 1500px;
    right: -1500px;
    background: #fff;
    z-index: 500;
    transition: 1s;
    .label {
      font-size: 20px;
      text-align: center;
      color: black;
    }
    .parameter-wrap {
      display: flex;
    }
    h5.variant.name {
      width: 140px;
      font-size: 13px;
      text-align: left;
    }
    .button.option-button.text {
      background: #808080;
      border-radius: 15px;
      &.active {
        background: #c49b31;
      }
    }
    .button.option-button {
      font-size: 14px;
      padding: 0;
      border-radius: 50%;
      img {
        max-height: unset;
      }
    }
    .parm {
      width: max-content;
      position: relative;
      left: 5px;
    }
  }

  .upsale-Banner {
    overflow: hidden;
  }
  // .order {
  //   display: none;
  // }
  .close-btn {
    position: absolute;
    right: 10px;
    top: -17px;
    font-size: 44px;
    color: #000;
    transform: rotate(0deg);
    cursor: pointer;
  }
  .close-btn.return {
    top: unset;
    bottom: 5px;
    font-size: 20px;
    padding: 5px 10px;
    background: green;

    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
  }

  .countdown-wrap .label {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
  }
}
// .parameter-wrap {
//     display: none;
//     &.active {
//         display: block;
//     }
// }
.navigatte-button {
  background-size: cover !important;
}

.navigatte-button.class1.barva.parameterNav4 {
  background-image: url(https://677818.myshoptet.com/user/documents/upload/assets/plus.png);
}

.parameter-wrap.parameter-cars {
  h5 {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  .parameter-cars.wheel-Position {
    text-align: center;
  }
  .can-toggle.demo-rebrand-1 label {
    &:before,
    &:after {
      display: none;
    }
  }
}

.type-detail .ti-dropdown-widget {
  height: auto;
}

.parameter-wrap.upsale {
  text-align: center;
}

.parameter-wrap h5 {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-top: 0;
}

.image-wrap {
  max-width: 400px;
  margin: 30px auto 10px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
}

.parameter-wrap {
  .btn.close,
  .btn.upsale {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    width: -webkit-fill-available;
  }
  .btn.close {
    background: #e0e4e9;
  }
  .btn.upsale {
    background: green;
    color: white;
  }
}

.position-wrap.parameter-cars.active {
  .parameter-cars.wheel-Position {
    display: flex;
    justify-content: flex-start;
    .label.wheel {
      padding: 8px 20px;
      margin: 0;
    }
  }
}
.parameter-wrap.orders-5.base-config {
  .text {
    display: none !important;
  }
}

.parameter-wrap.orders-6,
.parameter-wrap.orders-7,
.parameter-wrap.orders-8 {
  h5.variant.name {
    padding: 13px;
  }
}

// table.detail-parameters {
//   display: none;
// }

.upsale-text {
  margin-bottom: 20px;
}

.basic-description {
  .section.section-full.bg-custom.full-width {
    padding: 50px 0;
    background: rgba(237, 237, 237, 1);
  }
  .text-with-icons__item.snap-center {
    padding: 10px;
    width: 50%;
    text-align: center;
    @media (min-width: 990px) {
      width: 20%;
    }
  }
  & > h3 {
    display: none;
  }
  h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    // margin-block: 50px;
  }

  .impact-text {
    gap: minmax(0, 1fr) auto;
    align-items: start;
    display: flex;
    justify-content: space-between;
  }
  .impact-text__content p {
    display: block;
    margin: auto;
  }
  h2.h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-block: 50px;
    background-color: Gray;
    color: white;
    padding: 10px;
  }
  img.image-icon {
    width: 60px;
  }
  p.h6 {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    min-height: 55px;
  }
  .twentytwenty-wrap {
    padding: 0px 0;
  }
  .media-with-text__item {
    padding: 30px 0;
  }

  .twentytwenty-wrap.full-width {
    background-color: rgba(237, 237, 237, 1);
  }
  .media-with-text__item.full-width {
    background-color: rgba(237, 237, 237, 1);
    .container {
      display: flex;
    }
  }
  .media-with-text__media img {
    border: none !important;
  }
  @media (min-width: 768px) {
    .text-with-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .twentytwenty-wrap {
      display: flex;
    }
    .twentytwenty-wrapper.twentytwenty-horizontal {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
    .section-info {
      // width: 40%;
      font-size: 17px;
    }
    .section.section-full.bg-custom.full-width {
      .snap-center .prose p {
        max-width: 339px;
        text-transform: uppercase;
        color: #000;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .media-with-text__item.full-width {
      .container {
        max-width: 1338px;
        padding: 0;
      }
    }
  }
  .layers-info {
    position: relative;
  }
  .layers-text {
    h2.h2 {
      font-size: 25px;
      font-weight: 600;
    }
    p {
      max-width: 300px;
    }
  }
  .section.section-full.bg-custom.icons-package {
    padding: 30px 0 50px;
    margin: 0 -20px;
    text-align: center;
    margin-bottom: 30px;
    h3 {
      font-size: 30px !important;
    }
    p.h5 {
      width: 100%;
      margin: 10px auto;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .timeline__slider {
    align-items: start;
    display: grid;
    margin-bottom: 50px;
  }
  .timeline__slider > * {
    grid-area: 1 / -1;
  }
  .timeline__nav-bar {
    width: 100%;
    height: 2px;
    background-color: #6d6d6d1f;
    position: absolute;
    top: 3px;
  }
  .timeline__nav-item {
    gap: 0.75rem;
    max-width: 200px;
    min-width: 100px;
    align-content: flex-start;
    padding-inline-end: 1.25rem;
    display: grid;
    position: relative;
    background: transparent;
    border: none;
    text-align: left;
  }
  .timeline__nav-item:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border-width: 2px;
    margin-block-start: calc((1.25rem / 2) * -1);
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border: 2px solid #6d6d6d1f;
  }
  .timeline__nav {
    grid: auto / repeat(6, minmax(0, 1fr));
    width: max-content;
    min-width: 100%;
    display: grid;
  }
  .relative.w-full {
    position: relative;
  }
  .circle-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    place-items: center;
    transition: opacity 0.15s ease-in;
    display: grid;
    background-color: transparent;
    border: 1px solid rgba(109, 109, 109, 0.1215686275);
  }
  .timeline__buttons {
    gap: 1rem;
    margin-block-start: calc(1.5rem * -1);
    display: flex;
  }
  .ring {
    box-shadow: 0 0 0 1px #6d6d6d1f;
  }
  button.circle-button.ring.group:before {
    content: "\e910";
    speak: none;
    display: inline-block;
    font-family: shoptet;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    top: 14px;
    right: -2px;
    position: relative;
  }
  button.circle-button.ring.group[is="prev-button"] {
    transform: rotate(180deg);
  }
  button.timeline__nav-item.active::before {
    background-color: gray;
  }
  .timeline__slide {
    gap: 1.5rem;
    text-align: center;
    grid-template-columns: minmax(0, 1fr);
    align-items: start;
    display: grid;
  }
  .layers-info {
    padding-bottom: 30px;
  }
  .btn.more-pictures-button {
    margin-bottom: 50px;
  }
  .content-over-media.aspect-video.shadow-block.rounded-lg.text-custom {
    position: relative;
    margin-top: 50px;
  }
  button.video-play-button {
    background: transparent;
    border: none;
  }
  svg.icon.icon-play-button {
    color: white;
  }

  .section.section-blends.section-dubble.section-full {
    margin-top: 50px;
    .prose.break-all.place-self-center-start.text-start,
    .prose.break-all.place-self-center-end {
      margin: 30px 20px;
    }
    .media-with-text__content.bg-custom.text-custom {
      background-color: transparent !important;
    }
    img {
      border: none;
      border-radius: 0;
    }

    .text-gradient {
      color: unset !important;
    }
  }
  .layers-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .image-container {
      width: 49%;
      margin: 40px 0;
    }
  }
  span.quantity {
    display: none;
  }
  .prose .h2 {
    color: var(--color-primary);
  }
  .layers-info-wrap {
    position: relative;
    img {
      border: none !important;
    }
    .image-container {
      margin-right: 0;
    }
    .layers-text {
      p {
        font-size: 17px;
        max-width: 500px;
      }
      h2 {
        color: var(--color-primary);
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    @media (max-width: 768px) {
      .layers-text {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 20px 0;
        p {
          font-size: 14px;
        }
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 700px) {
    .timeline__controls {
      --timeline-dot-size: 1.25rem;
      --timeline-dot-padding-inline-end: 1.25rem;
    }
    .layers-text {
      position: absolute;
      bottom: 0px;
    }
  }
  @media screen and (min-width: 1000px) {
    .timeline__slide > .timeline__image-wrapper {
      padding-inline-end: 16.5%;
    }
    .timeline__slide > .prose {
      z-index: 1;
      padding-inline-start: 0;
      padding-inline-end: 0;
      position: relative;
    }
    .timeline__slide {
      text-align: left;
      grid: auto / repeat(2, minmax(0, 1fr));
      gap: 0;
    }
    .timeline__nav {
      width: 100%;
      min-width: auto;
      padding-block-start: 0;
    }
    .timeline__controls {
      align-items: flex-start;
      gap: 2.5rem;
      display: flex;
    }
    .media-with-text__item {
      display: flex;
      flex-direction: row;
    }
    .media-with-text__content.bg-custom.text-custom {
      width: 50%;
    }
    .media-with-text__media {
      width: 50%;
    }
    // .section.section-blends.section-dubble.section-full {
    //   position: relative;
    //   top: 0;
    //   left: 50%;
    //   width: 100vw;
    //   height: auto;
    //   transform: translateX(-50%);
    // }
    .prose.break-all.place-self-center-end.text-end {
      text-align: right;
    }
  }
  @media screen and (max-width: 768px) {
    .timeline__buttons.md-max\:hidden {
      display: none;
    }
    .timeline__controls.scroll-area.bleed.md\:unbleed {
      overflow: scroll;
      padding: 10px 0;
    }
  }
}
div#description p span.text-gradient {
  color: var(--color-primary) !important;
}
.upsale-text,
.banner-wrap.upsale {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  .heder.h2,
  h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 30px;
  }
  .btn.button.upsale,
  a.btn {
    color: white;
    margin: auto;
    display: block;
    width: max-content;
    margin-bottom: 20px;
  }
  .prefix {
    position: absolute;
    right: 10px;
    top: 8px;
  }
  p {
    width: 60%;
    text-align: left !important;
  }
}
.col-sm-12.shp-tabs-row.responsive-nav {
  display: none !important;
}
.thumbnails-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .thumbnail-image {
    width: 50%;
    padding: 5px;
    img {
      border-radius: 10px;
    }
  }
}

// .p-thumbnails-wrapper {
//   display: none;
// }

.col-xs-12.col-lg-6.p-image-wrapper {
  div#wrap {
    border-radius: 10px;
    overflow: hidden;
  }
  a.yelowText {
    display: none;
  }
}

.ti-dropdown-widget-inner {
  .h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .description {
    margin-bottom: 10px;
  }
  .button.btn {
    width: fit-content;
    margin: auto;
    margin-bottom: 23px;
  }
  .prefix {
    font-size: 10px;
  }
}
.ti-widget-container.upsale {
  overflow: auto;
}

div#description {
  p span {
    color: black !important;
  }
}
.upsale-button.active {
  img {
    border-color: green;
  }
}
.upsale-buttons.boxs,
.upsale-buttons.trunk {
  min-height: 150px;
  transition: 1s;

  .upsale-button.\30,
  .upsale-button.config,
  .upsale-button.radio {
    max-height: 500px;
    // transition: 1s;
  }
}
// .upsale-buttons.boxs.minimalize,
// .upsale-buttons.trunk.minimalize {
//   background: #80808024;
//   min-height: 40px;
//   transition: 1s;
//   .upsale-button.\30,
//   .upsale-button.config,
//   .upsale-button.radio,
//   .upsale-button.none {
//     visibility: hidden;
//     width: 0;
//     .text {
//       color: transparent;
//     }
//     .save {
//       display: none;
//     }
//     .price {
//       color: black;
//       top: 0%;
//       text-align: right;
//     }
//   }
//   .upsale-button.\30,
//   .upsale-button.config,
//   .upsale-button.none,
//   .upsale-button.radio {
//     max-height: 75px;
//     transition: 1s;
//     margin: 0;
//   }
//   .upsale-button.\30.active,
//   .upsale-button.none.active,
//   .upsale-button.config.active,
//   .upsale-button.radio.active {
//     display: flex;
//     width: 100%;
//     color: black;
//     margin: 5px;

//     visibility: visible;
//     // img {
//     //   display: none;
//     // }
//     .text {
//       position: static;
//       text-align: left;
//       color: #000;
//       font-size: 16px;
//       padding: 24px 10px;
//     }
//     .price {
//       font-size: 16px;
//       padding: 25px 10px;
//     }
//     img {
//       border-color: transparent;
//       width: 60px;
//     }
//   }
// }

.box-config {
  .image-wrap {
    display: none;
  }
}

.upsale-button.active {
  border: 5px solid rgba(196, 155, 49, 1);
  border-radius: 25px;
}

.button.option-button.text {
  min-width: 90px;
  text-align: center;
}
.button.option-button.text {
  min-width: 90px;
  text-align: center;
  background: white;
  height: auto;
  .parm {
    font-weight: 600;
  }
  &.active {
    border-radius: 0;
  }
}

.button.option-button.lines {
  width: calc(33% - 10px);
}
.basic-description .section.section-blends.section-dubble.section-full {
  .media-with-text__content.bg-custom.text-custom {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
.margin-top-5 {
  margin-top: 50px;
}

section.shopify-section.horiz-video.shopify-section--video {
  video {
    max-height: 800px;
  }
}
.btn.btn-cart,
.btn.btn-conversion,
a.btn.btn-cart,
a.btn.btn-conversion {
  background-color: #c49b30;
  border-color: #c49b30;
  color: #fff;
  border-radius: 10px;
}
section#model-info {
  display: flex;
  position: relative;
  width: 100%;
  .setup-model {
    padding: 9px 20px 9px;
    background: gray;
    color: #fff;
    border-radius: 15px;
    height: 42px;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 11px;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 1px;
    @media (max-width: 768px) {
      position: absolute;
      margin-top: 10px;
      margin-left: auto;
    }
  }
  .model-info {
    border: 1px solid rgba(81, 140, 109, 1);
    background: rgba(241, 253, 245, 1);

    margin-right: 20px;
    border-radius: 15px;
    padding: 10px 20px 10px 70px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 700px;
    &::before {
      content: "\e913";
      speak: none;
      display: inline-block;
      font-family: shoptet;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 0;
      text-decoration: none;
      text-transform: none;
      vertical-align: middle;
      font-size: 20px;
      position: absolute;
      width: 40px;
      height: 40px;
      background: rgba(81, 140, 109, 1);
      color: white;
      border-radius: 50%;
      padding: 20px 10px;
      left: 15px;
    }
    .header-info {
      font-size: 17px;
      font-weight: 600;
    }
  }
}
.errorToCart {
  border: 2px solid red;
  border-radius: 25px;
}
.parameter-cars.patterns-wrap {
  display: flex;
  padding: 10px 10px 0;
  a.button.option-button {
    border: none !important;
    width: 33%;
    position: relative;
    background: transparent;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid transparent !important;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .banner-header {
      bottom: 0px;
      min-height: 40px;
      font-weight: 400;
      font-size: 16px;
    }
    &.active {
      border: 4px solid rgba(196, 155, 49, 1) !important;
    }
  }
}
.p-thumbnails a img {
  border: 4px solid rgba(196, 155, 49, 1) !important;
  border-radius: 10px;
}
section.shopify-section.horiz-video.shopify-section--video.full-width {
  background-color: #ededed;
  padding: 50px;
  h3 {
    margin-top: 0px !important;
  }
}
.button.option-button.lines {
  height: unset;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 15px;
  overflow: hidden;
  border: none;
  img {
    max-height: 70px;
    margin: auto;
    margin-bottom: 50px;
    display: block;
  }
  .banner-header {
    bottom: 0;
    font-size: 15px;
    min-height: 30px;
  }
  .price {
    color: #c49b31;
  }
  &.active {
    background-color: rgba(196, 155, 49, 1);
    border: none;
    border-radius: 15px;
  }
}
.parameter-wrap.parameter-44.orders-5.base-config {
  .image-wrap {
    display: none;
  }
}

.updale-banner-info {
  margin: 20px 0;
  border: 2px solid rgba(196, 155, 49, 1);
  border-radius: 15px;
  padding: 15px 10px 15px 60px;
  .h4 {
    color: rgba(196, 155, 49, 1);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
  }
  span {
    font-size: 20px;
    line-height: 1;
  }
  icon.icon {
    position: absolute;
    left: 20px;
    font-size: 57px;
    font-weight: 800;
    top: 24px;
    color: rgba(196, 155, 49, 1);
  }
}
.extended-description {
  display: none;
}
a.p-thumbnail {
  padding: 0 10px;
}
.p-thumbnails-horizontal .p-thumbnail:before {
  display: none;
}
.type-product {
  .image-container {
    margin-bottom: 0 !important;
  }
}
.p-final-price-wrapper {
  margin-top: 20px;
}
.p-info-wrapper {
  margin-top: 20px;
  .price-final {
    font-size: 40px;
    line-height: 1;
  }
}
.p-info-wrapper .price-additional,
.p-info-wrapper .price-save,
.p-info-wrapper .price-standard {
  font-size: 17px;
}
@media (min-width: 1500px) {
  .basic-description .section.section-blends.section-dubble.section-full {
    p.h2 span {
      font-size: 30px;
    }
    p {
      font-size: 17px !important;
    }
  }
}

.box-config .config-wrap {
  .order {
    display: none;
  }
  h5.variant.name {
    position: inherit;
    color: black;
    left: 0;
  }
}

@media (min-width: 1800px) {
  .basic-description .section.section-blends.section-dubble.section-full {
    p.h2 span {
      font-size: 35px;
    }
    p {
      font-size: 20px !important;
    }
  }
}

@media (max-width: 768px) {
  .text {
    line-height: 1.8;
  }
  .parameter-cars .button.option-button {
    font-size: 18px;
  }
  .option-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .parameter-cars.patterns-wrap {
    flex-wrap: wrap;
  }
  .parameter-cars.patterns-wrap a.button.option-button {
    width: 100%;
  }
  .parameter-cars.patterns-wrap a.button.option-button {
    border-radius: 32px;
  }

  .upsale-Banner .upsale-button {
    width: 32%;

    margin-left: auto;
    margin-right: auto;
    .price {
      font-size: 10px;
    }
    .save {
      font-size: 10px;
      top: -50px !important;
    }
    .banner-header {
      padding-top: 13px;
      position: relative;
      top: 0px;
      background: rgb(0 0 0 / 0%);
      color: black !important;
    }
    .upsale-Banner h5.variant.name {
      top: 12px;
    }

    .upsale-Banner .upsale-buttons .parameter-cars {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  .upsale-button {
    border: 1px solid #9e9e9e4f;
  }

  .upsale-Banner .upsale-buttons .parameter-cars .banner-header {
    font-size: 11px;
  }

  .upsale-Banner .upsale-buttons .parameter-cars {
    flex-wrap: wrap;
  }
  .col-xs-12.col-lg-6.p-info-wrapper .availability-value {
    order: 1;
  }
  section#model-info {
    display: flex;
    flex-direction: row;
  }
  .setup-model {
    width: fit-content;
    margin: auto;
  }
  section#model-info .model-info {
    margin-bottom: 10px;
  }
  .type-product button.btn.btn-lg.btn-conversion.add-to-cart-button.upsale {
    right: 21px;

    bottom: 24px;
  }
  .snap-center .prose p {
    max-width: unset;
  }
  .basic-description .impact-text {
    flex-direction: column;
  }
  .section.section-full.bg-custom.full-width {
    .snap-center {
      margin: auto;
      margin-bottom: 25px;
    }
  }
  .media-with-text__item.full-width {
    .container {
      display: flex;
      flex-direction: column;
    }
  }
  .type-product .twentytwenty-wrap.full-width {
    .section-info h3 {
      margin-top: 0;
    }
  }
  .basic-description .layers-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .basic-description .layers-info .image-container {
    width: 100%;
    margin: 20px 0 0;
  }
  .basic-description {
    .container-slider {
      // margin-left: -50px;
      // margin-right: -50px;
    }
  }
  .text-block {
    padding: 50px 0px;
  }
  section#section7 .images-scrolling__content,
  section#section5 .images-scrolling__content,
  section#section3 .images-scrolling__content,
  section#section1 .images-scrolling__content {
    text-align: left;
  }
  section#section7 span.images-scrolling__counter.bold,
  section#section5 span.images-scrolling__counter.bold,
  section#section3 span.images-scrolling__counter.bold,
  section#section1 span.images-scrolling__counter.bold {
    padding-right: 0;
  }
  section#section7 span.images-scrolling__counter.bold::before,
  section#section5 span.images-scrolling__counter.bold::before,
  section#section3 span.images-scrolling__counter.bold::before,
  section#section1 span.images-scrolling__counter.bold::before {
    top: 18px;
    left: 0px;
    right: unset;
  }
  .parameter-cars .label {
    font-size: 12px !important;

    min-width: 120px !important;
  }
  .parameter-cars .button.option-button img {
    max-height: 19px;
  }
  .parameter-cars .button.option-button {
    padding: 4px 8px;
  }
  .parameter-cars.patterns-wrap a.button.option-button .banner-header {
    min-height: 27px;

    font-size: 11px;
  }
  .parameter-cars.patterns-wrap a.button.option-button {
    width: calc(33% - 9px);
  }
  .parameter-cars.patterns-wrap a.button.option-button {
    border-radius: 15px;
  }
  .options-wrap .button.option-button {
    width: 17%;
    height: auto;
  }
  .orders-5 {
    .options-wrap .button.option-button {
      width: calc(33% - 10px) !important;
      height: auto;
      .banner-header {
        font-size: 9px;
      }
      img {
        margin-bottom: 30px !important;
      }
    }
    .image-wrap {
      display: none;
    }
  }
  .parameter-wrap.parameter-cars h5 {
    text-align: center;
    font-size: 14px;
    color: #000;
  }
  .parameter-wrap .order {
    padding-left: 20px;
    padding-top: 10px;

    height: 38px;

    font-size: 14px;
  }
  .base-config h5.variant.name {
    top: 12px;
  }
  .parameter-wrap h5 {
    font-size: 14px;
  }
  .basic-description h2.h3 {
    font-size: 18px;
  }

  .type-product {
    .section.section-blends.section-full,
    section#models {
      padding: 0px 0px !important;
    }
    .basic-description .text-with-icons__item.snap-center {
      padding: 10px;

      text-align: center;
    }
    .text-with-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .text-with-icons__item.snap-center {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    .snap-center .prose p {
      max-width: 300px !important;
    }
    .basic-description .text-with-icons__item.snap-center {
      padding: 10px;

      text-align: center;
    }
  }
  .image-container {
    overflow: inherit !important;
    img {
      border-radius: 20px;
    }
  }

  .parameter-cars.sit-Position {
    .button.option-button {
      padding: 0 !important;
      min-width: 28px;
      height: 32px;
    }
  }
  section#model-info .model-info::before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 15px 8px;
    left: 15px;
    font-size: 15px;
  }
  .availability-value {
    font-size: 12px;
    margin-bottom: 19px;
  }
  section#model-info .model-info .header-info {
    font-size: 14px;
    font-weight: 600;
  }
  section#model-info .setup-model {
    font-size: 14px;
    line-height: 1.7;
  }
  .basic-description .text-with-icons__item.snap-center {
    padding: 10px;

    text-align: center;
  }
  .description-inner {
    padding: 0;
  }
  .media-with-text__item.full-width .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section.section-full.bg-custom.icons-package {
    .text-with-icons__item {
      width: 100%;
    }
  }
  .basic-description .text-with-icons__item.snap-center {
    width: 50%;
  }
  .section.section-blends.section-full {
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .p-detail-inner-header h1,
  .justify-self-center h3,
  .section-info h3,
  h2.divider,
  .sec-header,
  #comparison h2 {
    font-size: 30px !important;
  }

  .twentytwenty-wrap .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .basic-description .section.section-full.bg-custom.icons-package {
    margin: 0;
    width: 100%;
  }
  .basic-description .timeline__nav-item {
    min-width: 40px;
  }

  section#model-info .model-info {
    padding: 10px 80px 10px 50px;
  }

  .upsale-buttons.position-wrap.parameter-cars.parameter-wrap.boxs {
    .image-wrap {
      display: none !important;
    }
  }
  .upsale-Banner .box-config .parameter-wrap {
    display: flex;
    flex-direction: column;
  }
  .box-config .options-wrap {
    width: 100%;
  }
  .basic-description p.h6 {
    min-height: 30px;
  }
  .col-xs-12.col-lg-6.p-info-wrapper .p-short-description {
    order: 0;
  }
  section#model-selector {
    padding: 10px;
    margin-left: 5px;
  }
  .upsale-button {
    border: 1px solid #8080807d;
  }
  button.btn.btn-lg.btn-conversion.add-to-cart-button {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
  #description {
    overflow: hidden;
  }
  .media-with-text__media {
    width: 90%;
    margin: auto;
  }
  .upsale-Banner .upsale-button {
    border: 1px solid #8080803d;
    border-radius: 10px;
  }
  .upsale-button.active {
    border: 2px solid #c49b31;
    border-radius: 16px;
  }
  .more-pictures {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .image-container {
      width: 100% !important;

      margin-bottom: 10px !important;
    }
  }
  .button.option-button.lines {
    width: calc(33% - 10px);
  }
  .box-config .options-wrap .button.option-button {
    width: calc(20% - 10px) !important;
    height: auto;
  }
  .box-config .options-wrap .button.option-button.text {
    width: 46% !important;
    text-align: center;
    .parm {
      text-align: center;
      width: 100%;
    }
  }
}

.box-config {
  .image-wrap {
    display: none !important;
  }
}
.box-config {
  background: #f6f6f6 !important;
  border-radius: 15px;
}

.upsale-buttons .options-wrap .button.option-button.active:before {
  left: 17px;
  top: 15px;
}

@media (min-width: 768px) {
  .p-info-wrapper .add-to-cart {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    top: -75px;
  }

  .text-block .container {
    display: flex;
  }
}

.box-config {
  .parameter-wrap {
    padding: 0 20px;
  }
  h5.variant.name {
    padding: 0px !important;
  }
  .options-wrap .button.option-button {
    width: 17%;
  }
  .button.option-button.text {
    width: 22% !important;
  }
  .name-wrap {
    padding-top: 25px;
  }
  .price.price-standart {
    font-size: 18px;
    text-align: right;
    margin-right: 34px;
    color: #c49b30;
  }
}
.close-btn.close.bottom {
  font-size: 18px;
  position: absolute;
  left: 9px;
  bottom: 7px;
  top: unset;
  background: gray;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 9px;
}
