@import "variables"; // variables
@import "debug"; // debug
@import "mixins"; // funkce a mixiny
@import "general"; // globalni pravidla
@import "header"; // navigace a header
@import "index"; // index page
@import "product"; // product Page
@import "categories"; // product Page
@import "buttons"; // tlacitka
@import "content"; // content pravidla
@import "footer"; // content footer
@import "productPage"; // content productPage
@import "article"; // content articlePage
@import "cart";
@import "menu";
@import "upsalePopup";
@import "googleRew"; // checkout page
/////////////
@import "responsive"; //responzivita
@import "optimization"; // optimalizace

body {
  display: none;
}
body.showBody {
  display: block;
}
// optimalizace homepage
@media (min-width: 678px) {
  .overall-wrapper {
    overflow: hidden;
  }
}
section#model-selector {
  margin-left: 0px;
  margin-right: 0px;
}
